.enter-left {
  right: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 1;
}

.enter-right {
  left: 0;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 1;
}

.exit-left {
  right: 100%;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  opacity: 0;
  /* display: none; */
}

.exit-right {
  left: 100%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  opacity: 0;
  /* display: none; */
}
