@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 1, 16, 39;
  --background-end-rgb: 1, 16, 39;
  height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 2, 17, 38;
    --background-end-rgb: 2, 17, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 100%;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #021126;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5c7e8f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c7e8fa5;
}

@media screen and (max-width: 1023px) {

  .platform-side,
  .dashboard-details-side {
    display: none;
  }

  .mobile-sidenavs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1023px) {
  .sidebar-container {
    display: none;
  }
}